body {
  font-family: 'Trebuchet MS';
  font-size: x;
}

/* table * {
  border: 1px double black;
} */

*/ a,
a:visited {
  text-decoration: none;
  color: black
}


.foto-perfil img {
  border-radius: 100%;
  width: 90px;
}

.foto-perfil {
  vertical-align: top;
  text-align: center;
  padding: 0;
}

.saludo {
  padding-bottom: 10px;
  font-size: small;
}

.nombre {
  color: #0474dc;
  font-weight: bold;
}

.blue {
  color: #0474dc;
}

.carrera td {
  color: grey;
  font-size: small;
  font-weight: 900;
  padding: 0.3rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(83, 83, 83);
}

.p1 {
  padding: .2rem;
}

.pb0 {
  padding-bottom: 0;
}


.tabla-social {
  font-size: medium;
  padding-top: .7rem;
  padding-bottom: 0;

}

.tabla-social *,
.tabla-social:visited {
  text-decoration: none;
  color: black;
}

/* .tabla-icono {
  font-size: 1.7rem;
  background: rgb(106, 173, 255);
} */

.linkedin,
.linkedin a:visited {
  color: #0a66c2;
  padding-right: 5px;
}

.github a:visited {
  color: black;
}

#important,
#eco {
  font-size: .45rem;
  font-style: italic;
  /* width: 100%; */
  color: gray;
  border-top: 1px solid black;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.texto-eco {
  color: green;
  border-left: 1px solid green;
}

.hoja {
  font-size: 1.7rem;
  color: green;
  padding-left: 1rem;
  padding-right: 1rem;
}

.svg-ico-green {
  width: 20px;
  fill: green;
}

.svg-ico {
  width: 20px;
  fill: rgb(21, 35, 59);
}

a img {
  width: 40px;
}